 <div class="card  " style="overflow:scroll;" >
<div class="card-header">
	<h1>Film List</h1>

</div>
<div class="card">
<table *ngIf="listado"  class="table table-striped table-sm" >
<thead class="thead-inverse">
	<th>Actor's First Name</th>
	<th>Actos's Last Name</th>
	<th>Film's Title</th>
	<th>Film's Description </th>

</thead>
<tr *ngFor="let rec of listado.data">
<td>{{rec.actor.first_name}}</td>
<td>{{rec.actor.last_name}} </td>
<td>{{rec.film.title}}      </td>
<td>{{rec.film.description}}      </td>


</tr>
	

</table>	


</div>
<div class="card-footer">
<ngb-pagination 
 *ngIf="listado"
 [(collectionSize)] = "listado._meta.totalCount" 
 [(page)]           = "page" pageSize="10"  
 [maxSize]          = "10"
 (pageChange)       = "pageChanged($event)"  size="sm"
></ngb-pagination>

</div>

 </div>