 
<div class="panel panel-default" class="container"   >
<div class="panel-heading"> <h1>Actors</h1></div>
<div class="panel-body"   >
	

<div class="panel panel-default">	


<div class="panel panel-default">
<div class="panel-heading"> 

<form class="form-inline">
<div class="form-group">
	<label for="txt_last_name">Last Name: </label>
	<input type="text" class="form-control" id="txt_last_name" ng-model="$parent.fltrlastName">
</div>

<button class="btn btn default"  ng-click="filterActors()"   > Filter</button>
<button class="btn btn-success"  data-toggle="modal" data-target="#mdlfilmactor"> New Actor</button>
</form>


</div>
<div class="panel-body " style="height: 600px; overflow: auto;">
	
<table class="table table-stripe"  >
<th>Actions</th>

<th>First Name</th>
<th>Last Name</th>

<tr ng-repeat="x in items"   class="info" >
<td>
	<button type="button" class="btn btn-danger btn-sm" ng-click="delete(x.actor_id)">
	<span class="glyphicon glyphicon-trash"></span>
	Delete</button>
	<button type="button" class="btn btn-info"   data-toggle="modal" data-target="#mdlActorDetail" btn-sm" ng-click="detail(x.actor_id)"
 
	>
	<span class="glyphicon glyphicon-list-alt"></span>
	Detail</button>
</td>

<td>{{x.first_name}}</td>
<td>{{x.last_name}}</td>

</tr>

</table>




</div>

<div class="panel-footer"><ul uib-pagination total-items="totalItems" num-pages="numpages" ng-model="$parent.currentPage" ng-change="filterActors()" items-per-page="20">
</ul></div>

</div> 





</div>



</div>
</div>

  
 


 