<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

 <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
 <a class="navbar-brand" href="#">Sakila</a>
<div  class="collapse navbar-collapse">
 <ul class="navbar-nav mr-auto" >
<li class="nav-item"><a  class="nav-link" routerLink ="/actor">Actor</a></li>
<li class="nav-item"><a  class="nav-link"routerLink ="/film">Film</a></li>
 </ul>
</div>
</nav>

 <router-outlet></router-outlet>

  </div>

